body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.9s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "BrushScriptOpti-Regular";
  src: local("BrushScriptOpti-Regular"),
    url("./fonts/BrushScriptOpti-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "ariblk";
  src: local("ariblk"), url("./fonts/ariblk.ttf") format("truetype");
  font-weight: normal;
}
